{*
 * BreadCrumb Template
 *
 * @author NgatNgay
 *}

<ol class="breadcrumb">
	<li n:foreach="$breadCrumbLinks as $link" {if !$link->link}class="active"{/if}>
		{if $link->link}
			<a href="{$link->link}" title="{$link->title}">{$link->title}</a>
		{else}
			{$link->title}
		{/if}
		<i class="icon-angle-right" n:if="!$iterator->isLast()"></i>
	</li>
</ol>
